SECRET_KEY=REDACTED
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,localhost,127.0.0.1
DB_NAME=real_estate_db
DB_USER=root
DB_PASSWORD=REDACTED
DB_HOST=localhost
DB_PORT=3306
GOOGLE_CLIENT_ID=REDACTED
GOOGLE_SECRET=REDACTED
