# Django settings
SECRET_KEY=django-insecure-some-secret-key-string-goes-here
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,localhost,127.0.0.1

DB_NAME=real_estate_db
DB_USER=root
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432

# Frontend
VITE_API_BASE_URL=http://localhost:8000

# Cloudinary media storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Google Social OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_SECRET=your-google-client-secret
